
*.cmake
*.cmake
*.bin
cmake-build-debug/CMakeFiles/Makefile2
*.marks
*.marks
*.txt
cmake-build-debug/Makefile
CMakeLists.txt
CMakeLists.txt
cmake-build-debug/ChessProject.cbp
cmake-build-debug/ChessProject.cbp
*.cmake
*.cmake
*.cmake
*.log
*.bin
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/feature_tests.c
*.marks
*.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/ChessProject.dir/progress.make
*.make
*.obj
*.cpp
*.exe
cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
*.includecache
*.internal
*.cbp
*.xml
*.xml___jb_tmp___
*.xml
*.cbp
*.txt
*.cmake
